USE [schoolmanagersv]
GO
/****** Object:  Table [dbo].[students]    Script Date: 22/02/2026 12:03:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[gender] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [name], [email], [gender]) VALUES (N'2f64bb07-8c2a-4877-85da-250713b64dba', N'Hoàng Văn Em', N'em@gmail.com', N'Nam')
INSERT [dbo].[students] ([id], [name], [email], [gender]) VALUES (N'71f8c223-fc8d-4cd9-8929-5c836cd8a049', N'Bùi Thị Lan', N'lan@gmail.com', N'Nữ')
INSERT [dbo].[students] ([id], [name], [email], [gender]) VALUES (N'f50f3c29-efda-4611-98ec-a3ef4162f784', N'Võ Thị Giang', N'giang@gmail.com', N'Nữ')
GO
